* {
    margin-bottom: 10px;
    font-family: 'Gabarito', cursive;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
}

body {
    /* background-color: skyblue; */
    background-image: url(../pictures/clear_sky.jpg);
    background-size: cover;
}

p {
    margin-bottom: 0;
}

.five-day {
    background-color: #69c3ff!important;
}

input {
    margin: auto;
}

.card {
    /* background-color: #3C7FCE; */
    /* border-color: #319bd8; */
}

#footer {
    position: absolute;
    bottom: 0;
}

#today_weather img {
    width: 50%;
    height: auto;
}

#today_weather div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#today_temp {
    font-size: x-large;
}